<div class="jumbotron">
   
    <div class="table">
        <table class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
    

            <%productos.forEach(function(producto) {%>
            <tr>
                <td><%=producto.nombre%></td>
                <td><%=producto.precio%></td>
                <td><img width="50" src=<%=producto.foto%> alt="not found"></td>

            </tr>
            <%});%>
        </table>
    </div>
   
    <br>
    <a href="/" type="button" class="btn btn-primary">Cargar un nuevo producto</a>
    
